body{
  overflow: visible;
    margin: 0;
    background: rgb(30,168,170);
    background: linear-gradient(180deg, rgba(30,168,170,1) 0%, rgba(253,187,45,1) 100%);
    width: 98%;
    height: 100vh; 
    height: 1000px; 
  }

#page-title{
    color: #334d5c;
    position: relative;
    left: -7x;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    height: 70px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 0, 20px;
}

#nav_bar{
    width: 100%;
    position: absolute;
    right: 2.5%;
    top: 120px;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

#team_text{
  color: #334d5c;
    position: relative;
    top: 65px;
    left: -78px;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;  
    width: 120px;
    height: 24px;
}

#about_text{
  color: #334d5c;
    position: relative;
    top: 65px;
    left: -63px;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;  
    width: 80px;
    height: 24px;
}

.about_desc{
  color: #334d5c;
    position: relative;
    top: 65px;
    font-weight: bold;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;  
    width: 50%
}

#stat_text{
  color: #334d5c;
    position: relative;
    top: 65px;
    left: -81px;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;  
    width: 80px;
    height: 24px;
}



#stats, #team, #info, a {
    position: relative;
    background-color: transparent;
    transition: transform .2s; /* Animation */
    width: 70px;
    height: 70px;
    margin: 0 0 0 10%;
  }
  
#stats:hover,#team:hover, #info:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#stats:active,#team:active, #info:active {
    transform: scale(1.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



#balint_div, #csaba_div, #robi_div, #levi_div{
  margin: 0 3%;
  width: auto;
  height: 300px;
}

#balint, #csaba, #robi, #levi{
  margin: 0 3%;
  width: auto;
  height: 300px;
}

a{
  position: relative;
  text-decoration: none;
}

#linkedin_link{
  position: relative;
}

#linkedin_logo{
  position: absolute;
  top: 33px;
  left: 3px;
  width: 30px;
  height: auto;
  margin: 0 auto;
}

#robi_name{
  position: relative;
  padding-left: 30px;
}

#levi_name{
  position: relative;
  left: -1px;
}

#csaba_name{
  position: relative;
  left: -15px;
}

#balint_name{
  position: relative;
  left: -8px;
}

#csaba_linkedin_logo{
  position: absolute;
  top: 33px;
  left: 3px;
  width: 30px;
  height: auto;
  margin: 0 auto;
}

#levi_linkedin_logo{
  position: absolute;
  top: 33px;
  left: 3px;
  width: 30px;
  height: auto;
  margin: 0 auto;
}

#github_link{
  position: relative;

}

#github_logo{
  position: relative;
  width: 40px;
  height: auto;
}

#csaba_div, #robi_div, #levi_div, #balint_div{
  width:20%
}

#github_csaba, #github_robi, #github_levi, #github_balint{
  font-family: 'M PLUS Rounded 1c', sans-serif; 
  color: #334d5c; 
  position: relative;
  font-weight: bold;
  width: auto;
  top: -15px;
  left: 10px;
  text-align: center;
}

h3{
  font-family: 'M PLUS Rounded 1c', sans-serif; 
  color: #334d5c; 
  position: relative; 
  width: auto;
  text-align: center;
}

h2{
  font-family: 'M PLUS Rounded 1c', sans-serif; 
  color: #334d5c; 
  position: absolute; 
  text-align: center;
}

#about_div{
  display: flex;
  align-content: center;
  justify-content: center;
}

.team_desc{
  font-family: 'M PLUS Rounded 1c', sans-serif; 
  font-size: 17px; 
  color: #334d5c;
  position: relative;
  left: 40px;
  text-align: left;
}


#stat_div, #about_div, #team_div{
    position: relative;
    display: flex;
    justify-content: center;
    top: 200px;
    width: 100%;
}


.loader-wrapper {
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(30,168,170);
    background: linear-gradient(0deg, rgba(30,168,170,1) 0%, rgba(253,187,45,1) 100%); 
    display:flex;
    justify-content: center;
    align-items: center;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;  
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }