<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <script src="static/src/plotly.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/src/style.css">
        <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    </head>


    <body>
      <div id = "page-title">About IoTea Project!</div>

      <div id = "nav_bar">

        <a href="index.html"><img src="static/assets/images/pie-chart.png" id = "stats" alt=""></a>
        <h2 id = "stat_text">Statistics</h2>
        <a href="team.html"><img src="static/assets/images/team.png" id = "team" alt=""></a>
        <h2 id = "team_text">The Team</h2>

      </div> 

      <div id = "about_div">
        <h2>About our project!</h2>
        <p class = "about_desc">
          Take a camera. Add an object recognition algorithm. Hide the whole thing in a 
          teabox (optional). Send the data to the cloud. Access it anywhere. Monitor traffic at an intersection, or in your business.
           Spy on your airbnb guests. Who needs privacy, when you can have smart cities? This is IoTea.
        </p>
        
      </div> 
      <div id = "about_div">
        <p class = "about_desc">
          This project was the work of four GreenFox Academy students, created during a 24-hour hackaton.
           Fun fact: none of us are web development students. Yet look at this site! Look at the magic of cloud-logging! Unbelievable.
        </p>
        
      </div> 
      <div id = "about_div">
        <p class = "about_desc">
          A Raspberry Pi 4 is hidden inside a tea box. It is running a C++ application using OpenCV and YOLO as its object 
          recognition brain. Every minute, it logs the
           collected and formatted data to a remote hosted database. MySQL, Python, and cron are working hand-in-hand to accomplish this task.
        </p>
        
      </div> 

    

      <div class="loader-wrapper">

        <span class="loader"><span class="loader-inner"></span></span>

      </div>


      <script>

          $(window).on("load",function(){

            $(".loader-wrapper").fadeOut("slow");

          });

      </script>

    </body>
</html>