<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <script src="static/src/plotly.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/src/style.css">
        <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    </head>


    <body>
      <div id = "page-title">Welcome to the IoTea Project!</div>

      <div id = "nav_bar">

        <a href="team.html"><img src="static/assets/images/team.png" id = "team" alt=""></a>
        <h2 id = "team_text">The Team</h2>
        <a href="about.html"><img href = "about.html"  src="static/assets/images/info.png" id = "info" alt=""></a>
        <h2 id = "about_text">About</h2>

      </div> 
      <div id = "about_div">
        <h2>Below you should see in real time, how many person is in front of the camera.</h2>
        <p class = "about_desc"></p>
      </div>
      <div id = "about_div">
        <h2></h2>
        <p class = "about_desc"></p>
      </div>

      <div id = "stat_div">
        <div></div>
        <div id="chart"></div>
        
      </div> 
      <div class="loader-wrapper">

        <span class="loader"><span class="loader-inner"></span></span>

      </div>


      <script>
        var cnt = 0;
        async function fetchOHLC() {
      let response = await ( await fetch("http://localhost:5000/service"));
      let data = await response.json();
      return data;
    }
    let datafetched = fetchOHLC();
    Plotly.plot('chart',[{
          y:[0],
          type:'line'
          }]);
    setInterval(
      async function () {
      let fetchData = await fetchOHLC();
      Plotly.extendTraces('chart',{y:[[parseInt(fetchData.peopleCount, 10)]]}, [0]);
      console.log([[parseInt(fetchData.peopleCount , 10)]], [0]);
            cnt++;
            if(cnt > 10){
            Plotly.relayout('chart', {
                xaxis: {
                range: [cnt-10, cnt]
              }
            })
          }
        },
        1000)
            $(window).on("load",function(){
            $(".loader-wrapper").fadeOut("slow");
    });
    </script>

    </body>
</html>